<div class="modal transparent" ng-controller="AddMoreCtrl" ng-click="closeModal()">
    <div class="wrapper bot">
        <div class="kotak no-border autoheight">
                <div class="rumah-radio no-border more-section ">
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items diapers" ng-click="openModal('change')">
                            <i class="icon-diaper"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.change</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-bottle" ng-click="openModal('bottle')">
                            <i class="icon-bottle"></i>
                        </button>
                        <span class="small" data-translate>cleverbaby.app.activity.addMore.bottle</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-nursed" ng-click="openModal('nurse')">
                            <i class="icon-breast-feeding"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.nurse</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-solid" ng-click="openModal('solid')">
                            <i class="icon-banana-3"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.solid</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-pumping" ng-click="openModal('pump')">
                            <i class="icon-breast-pumper-line"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.pump</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-todo" ng-click="openModal('todo')">
                            <i class="icon-book-open"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.todo</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-activity" ng-click="openModal('activity')">
                            <i class="icon-rattle-alias-1"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.activity</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-mood" ng-click="openModal('mood')">
                            <i class="icon-mood-ok"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.mood</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-play" ng-click="openModal('play')">
                            <i class="icon-rattle-alias-3"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.play</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-bath" ng-click="openModal('bath')">
                            <i class="icon-bath"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.bath</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-medications" ng-click="openModal('medication')">
                            <i class="icon-medication"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.medication</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-temp" ng-click="openModal('temp')">
                            <i class="icon-temperature"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.temp</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-diary" ng-click="openModal('diary')">
                            <i class="icon-diary"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.diary</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-milestone" ng-click="openModal('milestone')">
                            <i class="icon-milestones"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.milestone</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-sickness" ng-click="openModal('sick')">
                            <i class="icon-mood-sad"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.sick</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-drvisit" ng-click="openModal('doctor')">
                            <i class="icon-doctor"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.doctor</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-vaccinations" ng-click="openModal('vaccination')">
                            <i class="icon-injection"></i>
                        </button>
                        <span>cleverbaby.app.activity.addMore.vaccination</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items btn-growth" ng-click="openModal('growth')">
                            <i class="icon-baby-growth"></i>
                        </button>
                        <span></span>
                    </div>
                </div>

            </div>
    </div>
</div>
