<ion-content class="padding loginbg fixheight">
  <ion-header-bar class="bar-positive">
  <h1 class="title">Sign In</h1>
</ion-header-bar>
  <div class="loginlogo">
      <img src="/img/loginlogo.png" class="logo">
    </div>
  <div class="list loginbg">
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="user.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
    </label>
    <label class="item item-input">
      <button class="button button-block button-positive" ng-click="validateUser()">Sign In</button>
    </label>
  </div>
  <div class="signup padding">
      <div class="row">
        <div class="col col-20"></div>
        <div class="col col-60">
          <p>Don't have an account yet?</p>
          <button class="button button-block button-square" type="submit">Sign Up For Free</button>
        </div>
        <div class="col col-20"></div>
      </div>
      
    </div>
</ion-content>
