<ion-view>
  <ion-content style="background:#0099cc">
	  <div class="row">
	  	<ion-nav-bar class="bar-positive">
	        <ion-nav-back-button></ion-nav-back-button>
	        <ion-nav-title>Chart</ion-nav-title>
	        <ion-nav-buttons side="right">
	            <a class="button button-icon icon ion-calendar activated" ng-click="newTask()"><span class="ion-ios-calendar-outline"></span></a>
	        </ion-nav-buttons>
	    </ion-nav-bar>
	  </div>

      <div class="box padding">
          <select ng-model="trendTemplate">
              <option value="templates/trends/growth.html" selected>Growth</option>
              <option value="templates/trends/feeding.html">Feeding</option>
              <option value="templates/trends/diaper.html">Diaper</option>
              <option value="templates/trends/sleep.html">Sleep</option>
              <option value="templates/trends/pumping.html">Pumping</option>
          </select>
      </div>

      <div class="row responsive-sm" ng-include="trendTemplate"></div>

  </ion-content>
</ion-view>