<ion-view>
    <ion-content class="fixheight">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-title ng-click='dropdown()'>{{$root.baby.name}}</ion-nav-title>
            <ion-nav-buttons side="right">
                <a class="button button-icon icon ion-calendar activated" ng-click="newTask()"><span class="ion-ios-calendar-outline"></span></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-slide-box>
            <ion-slide>
                <div class="box positive">
                <div class="kotak di-block-center di-home">
                    <div class="home-icon botol"><i class="icon-bottle"></i></div>
                    <div class="graph-circle-home">
                        <div class="progress-wrapper">
                            <div class="progress">14min <span>ETA</span></div>
                            <div
                                    round-progress
                                    max="100"
                                    current="75"
                                    color="#ffcc66"
                                    bgcolor="rgba(255,255,255,.5)"
                                    radius="28"
                                    stroke="3"
                                    semi="false"
                                    rounded="true"
                                    iterations="50"
                                    animation="easeInOutQuart">
                                </div>
                        </div>
                    </div>
                    <div class="thumbnail-baby"><div class="circular"><img src="/img/baby.png"></div></div>
                    <div class="graph-circle-home">
                        <div class="progress-wrapper">
                            <div class="progress">14min <span>ETA</span></div>
                            <div
                                    round-progress
                                    max="100"
                                    current="25"
                                    color="#66cc00"
                                    bgcolor="rgba(255,255,255,.5)"
                                    radius="28"
                                    stroke="3"
                                    semi="false"
                                    rounded="true"
                                    iterations="50"
                                    animation="easeInOutQuart">
                                </div>
                        </div>
                    </div>
                    <div class="home-icon"><i class="icon-diaper"></i></div>
                </div>
                <div class="baby-summary">
                    <span class="text-center">7 Weeks 2 Days</span>
                    <span class="text-center">5.4 Kg 59 Cm</span>
                </div>
                       
                <div class="dayli-checklist">
                    <div class="kotak autoheight">
                        <h3 class="text-left">DAILY CHECKLIST</h3>
                        <div class="xs-5">
                            <h5>5</h5>
                            <h5 data-translate>cleverbaby.app.diary.bar.nurses</h5>
                        </div>
                        <div class="xs-5">
                            <h5>3</h5>
                            <h5 data-translate>cleverbaby.app.diary.bar.change</h5>
                        </div>
                        <div class="xs-5 center">
                            <input type="checkbox" id="bath">
                            <label class="checkbox" for="bath"></label><br />
                            <label data-translate for="bath">cleverbaby.app.diary.bar.bath</label>
                        </div>
                        <div class="xs-5 center">
                            <input type="checkbox" id="play">
                            <label class="checkbox" for="play"></label><br />
                            <label data-translate for="play">cleverbaby.app.diary.bar.play</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box balanced">
                    <h1>YELLOW</h1>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box assertive">
                    <h1>PINK</h1>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="card kartu" ng-show="showTip">
          <div class="item item-text-wrap no-padding">
            <div class="row no-padding-top">
                <div class="col col-80 no-padding-top"><h2 data-translate>cleverbaby.app.diary.box1.title</h2></div>
                <div class="col col-20 no-padding-top" style="text-align:right;">
                    <a ng-click="hideDailyTip()" class="black-color">Hide</a>
                </div>
            </div>
            <p class="justify padding" ng-click="clickTip()">{{dailyTip}}</p>
          </div>
        </div>
        <h3 class="pd" ion-affix data-affix-within-parent-with-class="timeline">Today</h3>
        <ion-list>
            <div class="kotak timeline" collection-repeat="activity in activities" collection-item-height="77">
                <div class="item">
                    <div class="datetime-tl"><p timeline-date="{{ activity.createdAt }}"></p></div>
                    <div class="activity-icon">
                        <div class="item-activity" ng-class="activity.type | classOfActivity">
                            <span ng-class="activity.type | iconOfActivity"></span>
                        </div>
                    </div>
                    <div class="desc">
                        <h3 class="{{ activity.type | footOfActivity }}">{{ activity.type }}</h3>
                        <p>{{ activity | showActivity }}</p>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
    <div class="fixed-outside" ng-show="timerRunning">
        <div class="row">
            <div class="col" style="text-align:left;">Nursing Timer</div>
            <div class="col" style="text-align:right;"><i class="icon-close"></i></div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button" ng-click="$root.timers.stopTimer()">END LEFT</button>
            </div>
            <div class="col container-center">
                <p class="text-center center-block"><timer interval="1000">{{minutes}}:{{seconds}}</timer></p>
            </div>
            <div class="col">
                <button class="button">Start Right</button>
            </div>
        </div>
    </div>
</ion-view>
