<ion-view>
    <ion-content class="fixheight">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-title>Diary</ion-nav-title>
            <ion-nav-buttons side="right">
                <a class="button button-icon icon ion-calendar activated" ng-click="newTask()"><span class="ion-ios-calendar-outline"></span></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-slide-box on-slide-changed="slideChanged(index)">
            <ion-slide>
                <div class="box positive">
                    <div class="row container-center">
                        <div class="col center-block">
                            <img src="/img/bottle.png" class="icon-size">
                        </div>
                        <div class="col center-block">
                            <div class="progress-wrapper">
                                <div class="progress">14Mins<br>ETA</div>
                                <div
                                        round-progress
                                        max="100"
                                        current="75"
                                        color="#ffcc66"
                                        bgcolor="#eaeaea"
                                        radius="25"
                                        stroke="2"
                                        semi="false"
                                        rounded="true"
                                        iterations="50"
                                        animation="easeInOutQuart">
                                    </div>
                            </div>
                                    
                        </div>
                        <div class="col center-block">
                            <img src="/img/baby.png" class="circular">
                        </div>
                        <div class="col center-block">
                            <div class="progress-wrapper">
                                <div class="progress">14Mins<br>ETA</div>
                                <div
                                        round-progress
                                        max="100"
                                        current="25"
                                        color="#66cc00"
                                        bgcolor="#eaeaea"
                                        radius="25"
                                        stroke="2"
                                        semi="false"
                                        rounded="true"
                                        iterations="50"
                                        animation="easeInOutQuart">
                                    </div>
                            </div>
                            
                        </div>
                        <div class="col col-20 center-block">
                            <img src="/img/diapers.png" class="icon-size">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col center">
                            <div class="row">
                                <div class="col" style="text-align:right">7 Weeks</div>
                                <div class="col" style="text-align:left">2 Days</div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align:right">5.4 Kg</div>
                                <div class="col" style="text-align:left">59 Cm</div>
                            </div>
                        </div>
                        
                    </div>
                        
                    <div class="row dayli-checklist">
                        <div class="col col-20 center">
                            <h5>5</h5>
                            <h5>Nurse</h5>
                        </div>
                        <div class="col col-20 center">
                            <h5>3</h5>
                            <h5>Change</h5>
                        </div>
                        <div class="col col-20 center">
                            <h5><input type="checkbox"></h5>
                            <h5>Bath</h5>
                        </div>
                        <div class="col col-20 center">
                            <h5><input type="checkbox"></h5>
                            <h5>Play</h5>
                        </div>
                        <div class="col col-20">
                            <div class="plus-button" ng-click="newActivity()">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box balanced">
                    <h1>YELLOW</h1>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box assertive">
                    <h1>PINK</h1>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="card">
          <div class="item item-text-wrap">
            <div class="row">
                <div class="col col-80"><h2>Dayli Tips</h2></div>
                <div class="col col-20" style="text-align:right;"><a ng-click="hide()">Hide</a></div>
            </div>
            
            <p class="justify padding">Baby not sleeping? Try going for a stroll. A lot of 
                babies will get better sleep when they're in a 
                stroller, a car seat, a carrier. It's counterintuitive.</p>
          </div>
        </div>
        <ion-list class="padding">
            <p class="padding">TODAY</p>
            <ion-item class="timeline" ng-repeat="item in list" id="{{item.key}}" ng-switch on="item.type" href="#/app/playlists/{{playlist.id}}">
                <div ng-switch-when='nurse'>
                    <div class="row">
                        <div class="col col-20">
                            <p class="time">{{item.time | date : 'shortTime'}}</p>
                        </div>
                        <div class="col col-10 container-center">
                            <div class="center-block nursed-logo"></div>
                        </div>
                        <div class="col col-60">
                            <p class="nursed">{{item.type}}</p>
                            <div class="row">
                                <div class="col-50">
                                    <p>LEFT {{item.length}}min</p>
                                </div>
                                <div class="col-50">
                                    <p>RIGHT 0min</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when='play'>
                    <div class="row">
                        <div class="col col-20">
                            <p class="time">{{item.time | date : 'shortTime'}}</p>
                        </div>
                        <div class="col col-10 container-center">
                            <div class="center-block played-logo"></div>
                        </div>
                        <div class="col col-60">
                            <p class="nursed">{{item.type}}</p>
                            <div class="row">
                                <div class="col-50">
                                    <p>LEFT {{item.length}}min</p>
                                </div>
                                <div class="col-50">
                                    <p>RIGHT 0min</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when='sleep'>
                    <div class="row">
                        <div class="col col-20">
                            <p class="time">{{item.time | date : 'shortTime'}}</p>
                        </div>
                        <div class="col col-10 container-center">
                            <div class="center-block napped-logo"></div>
                        </div>
                        <div class="col col-60">
                            <p class="nursed">{{item.type}}</p>
                            <div class="row">
                                <div class="col-50">
                                    <p>LEFT {{item.length}}min</p>
                                </div>
                                <div class="col-50">
                                    <p>RIGHT 0min</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when='diaper'>
                    <div class="row">
                        <div class="col col-20">
                            <p class="time">{{item.time | date : 'shortTime'}}</p>
                        </div>
                        <div class="col col-10 container-center">
                            <div class="center-block changed-logo"></div>
                        </div>
                        <div class="col col-60">
                            <p class="nursed">{{item.type}}</p>
                            <p>{{item.consistency}}</p>
                            
                        </div>
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="row">
                        <div class="col col-20">
                            <p class="time">{{item.time | date : 'shortTime'}}</p>
                        </div>
                        <div class="col col-10 container-center">
                            <div class="center-block default-logo"></div>
                        </div>
                        <div class="col col-70">
                            <p class="nursed">{{item.item}}</p>
                            <p>LOREM IPSUM</p>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div class="card">
            <div class="item item-text-wrap" ng-show="noData">
                <span>
                  No Items in your bucket List. Click  <a href="javascript:" ng-click="openNewModal()">Here</a> and create one
                  </span>
            </div>
        </div>
        
    </ion-content>
    
</ion-view>
