<ion-view>
    <ion-content class="fixheight">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-title data-translate>celeverbaby.app.diary.title</ion-nav-title>
            <ion-nav-buttons side="right">
                <a class="button button-icon icon ion-calendar activated" ng-click="newTask()"><span class="ion-ios-calendar-outline"></span></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-slide-box on-slide-changed="slideChanged(index)">
            <ion-slide>
                <div class="box positive">
                <div class="kotak di-block-center di-home">
                    <div class="xs-5 home-icon botol"><i class="icon-bottle"></i></div>
                    <div class="xs-5">
                        <div class="progress-wrapper">
                            <div class="progress">14Mins<br>ETA</div>
                            <div
                                    round-progress
                                    max="100"
                                    current="75"
                                    color="#ffcc66"
                                    bgcolor="#eaeaea"
                                    radius="25"
                                    stroke="4"
                                    semi="false"
                                    rounded="true"
                                    iterations="50"
                                    animation="easeInOutQuart">
                                </div>
                        </div>
                    </div>
                    <div class="xs-5"><div class="circular"><img src="/img/baby.png"></div></div>
                    <div class="xs-5">
                        <div class="progress-wrapper">
                            <div class="progress">14Mins<br>ETA</div>
                            <div
                                    round-progress
                                    max="100"
                                    current="25"
                                    color="#66cc00"
                                    bgcolor="#eaeaea"
                                    radius="25"
                                    stroke="4"
                                    semi="false"
                                    rounded="true"
                                    iterations="50"
                                    animation="easeInOutQuart">
                                </div>
                        </div>
                    </div>
                    <div class="xs-5 home-icon"><i class="icon-diaper"></i></div>
                </div>
                <div class="row">
                        <div class="col center">
                            <div class="row">
                                <div class="col" style="text-align:right">7 Weeks</div>
                                <div class="col" style="text-align:left">2 Days</div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align:right">5.4 Kg</div>
                                <div class="col" style="text-align:left">59 Cm</div>
                            </div>
                        </div>
                        
                    </div>
                        
                    <div class="row dayli-checklist">
                        <div class="col col-20 center">
                            <h5>5</h5>
                            <h5 data-translate>celeverbaby.app.diary.bar.nurses</h5>
                        </div>
                        <div class="col col-20 center">
                            <h5>3</h5>
                            <h5 data-translate>celeverbaby.app.diary.bar.change</h5>
                        </div>
                        <div class="col col-20 center">
                            <h5><input type="checkbox"></h5>
                            <h5 data-translate>celeverbaby.app.diary.bar.bath</h5>
                        </div>
                        <div class="col col-20 center">
                            <h5><input type="checkbox"></h5>
                            <h5 data-translate>celeverbaby.app.diary.bar.play</h5>
                        </div>
                        <div class="col col-20">
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box balanced">
                    <h1>YELLOW</h1>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box assertive">
                    <h1>PINK</h1>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="card kartu">
          <div class="item item-text-wrap no-padding">
            <div class="row">
                <div class="col col-80"><h2 data-translate>celeverbaby.app.diary.box1.title</h2></div>
                <div class="col col-20" style="text-align:right;">
                    <a ng-click="hide()" class="black-color">Hide</a>
                </div>
            </div>
            
            <p class="justify padding" data-translate>celeverbaby.app.diary.box1.text</p>
          </div>
        </div>
        <div class="kotak timeline">
            <h3 class="pd">Today</h3>
            <div class="item">
                <div class="datetime-tl">2h 38m</div>
                <div class="activity-icon">
                    <div class="item-activity diapers">
                        <span class="icon-diaper"></span>
                    </div>
                </div>
                <div class="desc">
                    <h3 class="diaper-foot">Changed</h3>
                    <p>Wet and Solid</p>
                </div>
            </div>
        </div>
        <div class="kotak timeline">
            <div class="item">
                <div class="datetime-tl">4h 12m</div>
                <div class="activity-icon">
                    <div class="item-activity nurse">
                        <span class="icon-breast-feeding"></span>
                    </div>
                </div>
                <div class="desc">
                    <h3 class="nurse-foot">Nursed</h3>
                    <p>Left 15min Right 0min</p>
                </div>
            </div>
        </div> 
        <div class="kotak timeline">
            <div class="item">
                <div class="datetime-tl">4h 31m</div>
                <div class="activity-icon">
                    <div class="item-activity activity">
                        <span class="icon-rattle-alias-1"></span>
                    </div>
                </div>
                <div class="desc">
                    <h3 class="activity-foot">Played</h3>
                    <p>TUMMYTIME!</p>
                </div>
            </div>
        </div>
        <div class="kotak timeline">
            <div class="item">
                <div class="datetime-tl">4h 50m</div>
                <div class="activity-icon">
                    <div class="item-activity sleep">
                        <span class="icon-sleepcc"></span>
                    </div>
                </div>
                <div class="desc">
                    <h3 class="sleep-foot">NAPPER</h3>
                    <p>SLEEP FOR 2 Hours</p>
                </div>
            </div>
        </div> 
        
    </ion-content>
    <div class="fixed-outside" ng-show="timerRunning">
        <div class="row">
            <div class="col" style="text-align:left;">Nursing Timer</div>
            <div class="col" style="text-align:right;"><i class="icon-close"></i></div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button" ng-click="$root.timers.stopTimer()">END LEFT</button>
            </div>
            <div class="col container-center">
                <p class="text-center center-block"><timer interval="1000">{{minutes}}:{{seconds}}</timer></p>
            </div>
            <div class="col">
                <button class="button">Start Right</button>
            </div>
        </div>
    </div>
</ion-view>
