<div class="modal transparent" ng-controller="MenuCtrl">
    <div class="row menu-bot">
    	<button class="btn  btn-nursed" ng-click="newNursed()">
    		<i class="icon-breastfeeding_noun_2735"></i>
    	</button>
    	<button class="btn  btn-bottle" ng-click="newBottle()">
    		<i class="icon-bottle_noun_4313"></i>
    	</button>
    	<button class="btn  btn-diaper" ng-click="newDiapers()">
    		<i class="icon-diaper_noun_65306_cc"></i>
    	</button>
    	<button class="btn  btn-nap" ng-click="newNap()">
    		<i class="icon-sleep_noun_65299_cc"></i>
    	</button>
    </div>
</div>