<ion-view view-title="{{'cleverbaby.app.search.title' | translate}}">
  <ion-content>
    <div class="wrapper-tab more-page">
        <ion-nav-bar class="bar-positive">
            <div class="header no-border">
                <ion-nav-title cb-baby-drop-down></ion-nav-title>
                <ion-nav-buttons side="right">
                    <a class="btn right" ui-sref="app.diary"><i class="fa fa-dashboard"></i></a>
                </ion-nav-buttons>
            </div>
        </ion-nav-bar>
        <ul class="list">
            <li class="item"><a href="#"><span class="icon icon-user-female user-add"></span> Invite Others</a></li>
            <li class="item"><a href="#"><span class="icon icon-drawer"></span> Send Daily Report to Email</a></li>
            <li class="item"><a href="#"><span class="icon icon-settings"></span> Change Measurement Units</a></li>
            <li class="item"><a href="#"><span class="icon icon-support"></span> Help</a></li>
            <li class="item"><a href="#"><span class="icon icon-bubble"></span> About Clever Baby</a></li>
            <li class="item"><a ui-sref="app.youraccount"><span class="icon icon-user-female"></span> Your Account</a></li>
            <li class="item item-divider"><span class="icon icon-share"></span> SHARE</li>
            <li class="item"><a href="#"><span class="icon icon-bubbles"></span> Tell a friend</a></li>
            <li class="item"><a href="#"><span class="fa fa-facebook-square"></span> Like Us</a></li>
            <li class="item"><a href="#"><span class="fa fa-twitter-square"></span> Follow Us</a></li>
            <li class="item"><a href="#"><span class="icon icon-star"></span> Rate Us</a></li>
            <li class="item"><a href="#"><span class="icon icon-speech"></span> Submit Feedback</a></li>
       </ul>
    </div>
  </ion-content>
</ion-view>