<div class="modal transparent" ng-controller="BabyCtrl" ng-click="closeModal()">
	<div class="row addnew_baby">
			<ion-header-bar class="bar-energized">
		        <div class="buttons">
		            <button class="button icon-left ion-chevron-left button-clear button-dark activated" ng-click="closeActivity()"></button>
		        </div>
		        <h1 class="title">ADD BABY</h1>
		    </ion-header-bar>
            <div class="col padding-top">
                	<div class="row container-center">
                        <div class="col col-20 center-block">Birthday</div>
                        <div class="col"><input type="date" ng-model="addbaby.birthday" class="no-bg"></div>   
                    </div>
                    <div class="row container-center">
                        <div class="col col-20 center-block">Name</div>
                        <div class="col"><input type="text" ng-model="addbaby.name" class="no-bg"></div>   
                    </div>
                    <div class="row container-center">
                        <div class="col col-20 center-block">Gender</div>
                        <div class="col">
                        <div class="row">
                        	<div class="col">
                        		<ion-radio ng-model="addbaby.gender" ng-value="'Male'">Male</ion-radio>
                    		</div>
                    		<div class="col">
                    			<ion-radio ng-model="addbaby.gender" ng-value="'Female'">Female</ion-radio>
                    		</div>
                        </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            <button class="button button-outline button-light" ng-click="cancel()">Cancel</button>
                        </div>
                        <div class="col col-50"><button class="button button-outline button-light" ng-click="saveBaby()">Save</button></div>
                    </div>
                </div>
            </div>
        </div>
</div>