<div class="modal transparent" ng-controller="activityCtrl" ng-click="closeModal()">
    <div class="wrapper bottle">
        <div class="header">
            <h2 class="title">
                <span class="icon-bottle"></span>
                Bottle
            </h2>
            <a ng-click="closeActivity()" class="btn pull-left"><i class="fa fa-close"></i></a>
            <a href="" class="btn pull-right"><i class="fa fa-check"></i></a>
        </div>
        <div class="content">
            <div class="kotak">
                <label class="default">
                    <span class="icon-clock"></span> Time
                </label>
                <input type="text" placeholder="Today, 06:09PM" class="form-control">
            </div>
            <div class="kotak">
                <label class="default">
                    Formula
                </label>
                <input type="text" placeholder="Burped" class="form-control">
            </div>
            <div class="kotak">
                <label class="default">
                    Amount
                </label>
                <span class="satuan">ml</span>
                <input type="number" class="form-control punya-satuan" step="10" min="10" max="120" value="10" title="">
            </div>
            <div class="kotak">
                <label class="default">
                    Other
                </label>
                <input type="text" placeholder="Burped" class="form-control">
            </div>
        </div>
        <div class="footer">
            <a class="pull-left"><span class="icon-book-open"></span>Add Note</a>
            <a class="btn-mid bottle-foot"><span class="icon-check"></span> &nbsp;Save and Close</a>
            <a class="pull-right"><span class="icon-camera"></span>Add Photo</a>
        </div>
    </div>
</div>