<div class="modal transparent" ng-controller="activityCtrl" ng-click="closeModal()">
	<div class="wrapper diapers">
        <div class="header">
            <h2 class="title">
                <span class="icon-diaper"></span>
                Diaper
            </h2>
            <a ng-click="closeActivity()" class="btn pull-left"><i class="fa fa-close"></i></a>
            <a href="" class="btn pull-right"><i class="fa fa-check"></i></a>
        </div>
        <div class="content">
            <div class="kotak">
                <label class="default">
                    <span class="icon-clock"></span> Time
                </label>
                <input type="text" placeholder="Today, 06:09PM" class="form-control">
            </div>
            <div class="kotak no-border">
                <label class="small">Content</label>
                <div class="clearfix"></div>
                <div class="rumah-radio">
                    <ion-radio ng-model="diaper.empty" name="content" class="xs-4 border-right tab-style">Empty!</ion-radio>
                    <ion-radio ng-model="diaper.empty" name="content" class="xs-4 border-right tab-style">Wet</ion-radio>
                    <ion-radio ng-model="diaper.empty" name="content" class="xs-4 border-right tab-style">Solid</ion-radio>
                    <ion-radio ng-model="diaper.empty" name="content" class="xs-4 border-right tab-style">Mixed</ion-radio>
                </div>
            </div>
            <div class="kotak no-border">
                <label class="small">Content</label>
                <div class="clearfix"></div>
                <div class="rumah-radio">
                    <ion-radio ng-model="diaper.empty" name="size" class="xs-3 border-right tab-style">Tiny</ion-radio>
                    <ion-radio ng-model="diaper.empty" name="size" class="xs-3 border-right tab-style">Medium</ion-radio>
                    <ion-radio ng-model="diaper.empty" name="size" class="xs-3 border-right tab-style">XXL</ion-radio>
                </div>
            </div>
            <div class="kotak no-border autoheight">
                <label class="small">Color</label>
                <div class="rumah-radio no-border ">
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection yellow">
                        <span>Yellow</span></ion-radio>
                    </div>
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection lime"><span>Lime</span></ion-radio>
                    </div>
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection evergreen"><span>Evergreen</span></ion-radio>
                    </div>
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection red"><span>Red</span></ion-radio>
                    </div>
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection brown"><span>Brown</span></ion-radio>
                    </div>
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection black"><span>Black</span></ion-radio>
                    </div>
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection gray"><span>Gray</span></ion-radio>
                    </div>
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection other"><span>Other</span></ion-radio>
                    </div>
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection pink"><span>Pink</span></ion-radio>
                    </div>
                    <div class="xs-5">
                        <ion-radio ng-model="diaper.empty" name="content" class="color-selection diapers"></ion-radio>
                    </div>
                </div>
            </div>
            <div class="kotak no-border">
                <label class="small">Concistency</label>
                <div class="clearfix"></div>
                <div class="rumah-radio">
                    <ion-radio ng-model="diaper.empty" name="consistency" class="xs-3 border-right tab-style">Runny</ion-radio>
                    <ion-radio ng-model="diaper.empty" name="consistency" class="xs-3 border-right tab-style">Mushy</ion-radio>
                    <ion-radio ng-model="diaper.empty" name="consistency" class="xs-3 border-right tab-style">Hard</ion-radio>
                </div>
            </div>
        </div>
        <div class="footer">
            <a class="pull-left"><span class="icon-book-open"></span>Add Note</a>
            <a class="btn-mid diaper-foot"><span class="icon-check"></span> &nbsp;Save and Close</a>
            <a class="pull-right"><span class="icon-camera"></span>Add Photo</a>
        </div>
    </div>
</div>