<div class="modal transparent" ng-controller="activityCtrl" ng-click="closeModal()">
	<div class="row addnew_nurse">
			<ion-header-bar class="bar-energized">
		        <div class="buttons">
		            <button class="button icon-left ion-chevron-left button-clear button-dark activated" ng-click="closeActivity()"></button>
		        </div>
		        <h1 class="title">ADD NURSED</h1>
		    </ion-header-bar>
            <div class="col padding-top">
                <div class="row">
                    <div class="col zeropadding">
                        <button ng-click="switchtimer(false,true)" class="btn-border active">Timer Mode</button>
                    </div>
                    <div class="col zeropadding">
                        <button ng-click="switchtimer(true,false)" class="btn-border">Manual Entry</button>
                    </div>
                </div>
                <div class="row bordered">
                    <div class="col col-50 left">
                        <p>Time</p>
                    </div>
                    <div class="col col-50 right">
                        <input type="datetime-local" class="datetime number">
                    </div>
                </div>
                <div ng-show="manual">
                    <div class="row container-center">
                        <div class="col col-50 left">
                            Time Left
                        </div>
                        <div class="col col-50 right container-center">
                            <div class="row center-block">
                                <div class="col"><input type="number" value="0" class="number"></div>
                                <div class="col line-height">Minutes</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row container-center">
                        <div class="col col-50 left">
                            Time Right
                        </div>
                        <div class="col col-50 right container-center">
                            <div class="row center-block">
                                <div class="col"><input type="number" value="0" class="number"></div>
                                <div class="col line-height">Minutes</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row container-center">
                        <div class="col col-50 left">
                            Time Both
                        </div>
                        <div class="col col-50 right container-center">
                            <div class="row center-block">
                                <div class="col"><input type="number" value="0" class="number"></div>
                                <div class="col line-height">Minutes</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div ng-show="timer">
                    <div class="row">
                        <div class="col">
                            <button class="button" ng-click="$root.timers.setTimer()">Start Left</button>
                            <p ng-show="time">{{time}}</p>
                        </div>
                        <div class="col container-center" >
                            <p class="text-center center-block"><timer interval="1000" autostart="false">{{minutes}}:{{seconds}}</timer></p>
                        </div>
                        <div class="col">
                            <button class="button" ng-click="$root.timers.setTimer()">Start Right</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-clear btn-small" style="font-size:10px">Add Note</button>
                    </div>
                    <div class="col col-50">
                        <button class="button button-clear btn-small" ng-click="addNurse()">Save and Close</button>
                    </div>
                    <div class="col">
                        <button class="button button-clear btn-small" style="font-size:10px">Add Pict</button>
                    </div>
                </div>
            </div>
                
        </div>
</div>