<ion-view view-title="{{'cleverbaby.app.search.title' | translate}}">
  <ion-content>
    <!-- <h1 data-translate>cleverbaby.app.search.title</h1> -->
    <div class="wrapper timeline">
        <div class="header no-border">
            <a class="btn left"><i class="fa fa-angle-left"></i></a>
            <h2>CleverBaby <i class="fa fa-angle-down"></i></h2>
            <a class="btn right"><i class="fa fa-dashboard"></i></a>
        </div>
        <ul class="items-activity">
        	<li>
        		<div class="icon nurse"><span class="icon-breast-feeding"></span></div><div class="clearfix"></div>
	            <span class="text">Nurse</span>
            </li>
            <li>
        		<div class="icon diapers"><span class="icon-diaper"></span></div><div class="clearfix"></div>
	            <span class="text">Diapers</span>
            </li>
            <li>
        		<div class="icon sleep"><span class="icon-sleepcc"></span></div><div class="clearfix"></div>
	            <span class="text">Sleep</span>
            </li>
            <li>
        		<div class="icon play"><span class="icon-rattle-alias-3"></span></div><div class="clearfix"></div>
	            <span class="text">Play</span>
            </li>
            <li>
        		<div class="icon bath"><span class="icon-bath"></span></div><div class="clearfix"></div>
	            <span class="text">Bath</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>
            <li>
        		<div class="icon allergy"><span class="icon-allergy"></span></div><div class="clearfix"></div>
	            <span class="text">Allergy</span>
            </li>

        </ul>
        <div class="timeline-wrapper">
        	<!-- data perday (TODAY) -->
        	<div class="kotak timeline-item no-border">
        		<h3>Today</h3>
        		<ion-content direction="x" overflow-scroll="1" scrollbar-x="0" scrollbar-y="0">
        		<div class="data">
	        		<ul class="timeline-grid">
	        			<li>6am</li>
	        			<li>9am</li>
	        			<li>12</li>
	        			<li>3pm</li>
	        			<li>6pm</li>
	        			<li>9pm</li>
	        			<li>12</li>
	        			<li>3am</li>
	        		</ul>
	        		<ul class="timeline-data">
		        		<li class="data-activity" style="width:6%" ></li>
		        		<li class="data-activity sleep" style="width:10%" ></li>
		        		<li class="data-activity" style="width:6%" ></li>
		        		<li class="data-activity diapers" style="width:3%" ></li>
		        		<li class="data-activity" style="width:1%" ></li>
		        		<li class="data-activity play" style="width:27%" ></li>
	        		</ul>
        		</div>
        		</ion-content>
        	</div>

        	<!-- data perday (yesterday) -->
        	<div class="kotak timeline-item no-border">
        		<h3>Yesterday</h3>
        		<ion-content direction="x" overflow-scroll="1" scrollbar-x="0" scrollbar-y="0">
        		<div class="data">
	        		<ul class="timeline-grid">
	        			<li>6am</li>
	        			<li>9am</li>
	        			<li>12</li>
	        			<li>3pm</li>
	        			<li>6pm</li>
	        			<li>9pm</li>
	        			<li>12</li>
	        			<li>3am</li>
	        		</ul>
	        		<ul class="timeline-data">
		        		<li class="data-activity sleep" style="width:10%" ></li>
		        		<li class="data-activity" style="width:6%" ></li>
		        		<li class="data-activity diapers" style="width:13%" ></li>
		        		<li class="data-activity" style="width:6%" ></li>
		        		<li class="data-activity allergy" style="width:57%" ></li>
	        		</ul>
        		</div>
        		</ion-content>
        	</div>

        	<!-- data perday (3rd April) -->
        	<div class="kotak timeline-item no-border">
        		<h3>3rd April</h3>
        		<ion-content direction="x" overflow-scroll="1" scrollbar-x="0" scrollbar-y="0">
        		<div class="data">
	        		<ul class="timeline-grid">
	        			<li>6am</li>
	        			<li>9am</li>
	        			<li>12</li>
	        			<li>3pm</li>
	        			<li>6pm</li>
	        			<li>9pm</li>
	        			<li>12</li>
	        			<li>3am</li>
	        		</ul>
	        		<ul class="timeline-data">
		        		<li class="data-activity" style="width:5%" ></li>
		        		<li class="data-activity sleep" style="width:10%" ></li>
		        		<li class="data-activity" style="width:6%" ></li>
		        		<li class="data-activity diapers" style="width:13%" ></li>
		        		<li class="data-activity" style="width:6%" ></li>
		        		<li class="data-activity nurse" style="width:57%" ></li>
	        		</ul>
        		</div>
        		</ion-content>
        	</div>

        	<!-- data perday (4rd April) -->
        	<div class="kotak timeline-item no-border">
        		<h3>4rd April</h3>
        		<ion-content direction="x" overflow-scroll="1" scrollbar-x="0" scrollbar-y="0">
        		<div class="data">
	        		<ul class="timeline-grid">
	        			<li>6am</li>
	        			<li>9am</li>
	        			<li>12</li>
	        			<li>3pm</li>
	        			<li>6pm</li>
	        			<li>9pm</li>
	        			<li>12</li>
	        			<li>3am</li>
	        		</ul>
	        		<ul class="timeline-data">
		        		<li class="data-activity" style="width:16%" ></li>
		        		<li class="data-activity sleep" style="width:10%" ></li>
		        		<li class="data-activity" style="width:6%" ></li>
		        		<li class="data-activity diapers" style="width:13%" ></li>
		        		<li class="data-activity" style="width:6%" ></li>
		        		<li class="data-activity allergy" style="width:37%" ></li>
	        		</ul>
        		</div>
        		</ion-content>
        	</div>
        </div>
    </div>
  </ion-content>
</ion-view>