<div class="kotak timeline" ng-click="openModal(activity)">
    <div class="item">
        <div class="datetime-tl"><p timeline-date="activity.createdAt"></p></div>
        <div class="activity-icon">
            <div class="item-activity" ng-class="activity.type | classOfActivity">
                <span ng-class="activity.type | iconOfActivity"></span>
            </div>
        </div>
        <div class="desc">
            <h3 ng-class="activity.type | footOfActivity">{{ activity.type }}</h3>
            <p>{{ activity | showActivity }}</p>
        </div>
    </div>
</div>
