<div class="wrapper relative on-white">
	<div class="kotak">
		<div class="xs-2">
			<div class="rumah-radio on-white">
				<ion-radio value="monthly" name="type-view" class="xs-2 border-right tab-style"><span>Monthly</span></ion-radio>
				<ion-radio value="weekly" name="type-view" class="xs-2 border-right tab-style"><span>Weekly</span></ion-radio>
			</div>
		</div>
		<div class="xs-2 type-view-nav">
			<a class="btn-trigger left"><i class="fa fa-caret-left"></i></a>
			<a class="btn-trigger right"><i class="fa fa-caret-right"></i></a>
			<span>May</span>
		</div>
	</div>
	<div class="kotak autoheight bar-chart">
		<h4 class="text-center">Wet (times changed)</h4>
		<br /><br /><br />
		<!-- Chart Code -->
	</div>
	<div class="kotak autoheight border-divider">
		<div class="chart-description">
			<h4 class="text-center">Dirty (times changed)</h4>
			<div class="xs-2 ">
				<span>Average changes</span>
				<span>4.5 times</span>
				<span>per day</span>
			</div>
			<div class="xs-2 ">
				<span>Last Week</span>
				<span>4.3 times</span>
				<span>per day</span>
			</div>
		</div>
	</div>
</div>