<div class="kotak autoheight border-divider">
    <div class="chart-description">
        <h4 class="text-center">Breastfeeding (hours)</h4>
        <div class="xs-2 ">
            <span>Formula Feeding Average</span>
            <span>9.1oz</span>
            <span>per day</span>
        </div>
        <div class="xs-2 ">
            <span>Last Week</span>
            <span>5.5 oz</span>
            <span>per day</span>
        </div>
    </div>
</div>
<div class="kotak autoheight border-divider">
    <div class="chart-description">
        <div class="xs-2 ">
            <span>Breastfeeding Average</span>
            <span>75 min</span>
            <span>per day</span>
        </div>
        <div class="xs-2 ">
            <span>Last Week</span>
            <span>90 min</span>
            <span>per day</span>
        </div>
    </div>
</div>