<div class="tabs-menu">
    <div>Week</div>
    <div>Month</div>
    <div>3 Month</div>
    <div>All</div>
</div>

<div class="box padding">
    <div class="card">
        <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" click="onClick"></canvas>
    </div>
</div>
<div class="row">
    <div class="col col-80">
        <canvas id="line" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" click="onClick"></canvas>
    </div>
    <div class="col col-20">
        <h3>+142</h3>
        <h4>From Last Month</h4>
    </div>
</div>