<ion-view view-title="{{'cleverbaby.app.more.about.title' | translate}}">
    <ion-content>
        <div class="wrapper-tab more-page">
            <ion-nav-bar class="bar-positive">
                <div class="header no-border">
                    <ion-nav-title cb-baby-drop-down></ion-nav-title>
                    <ion-nav-buttons side="right">
                        <a class="btn right" ui-sref="app.diary"><i class="fa fa-dashboard"></i></a>
                    </ion-nav-buttons>
                </div>
            </ion-nav-bar>
            <div class="padding">
                {{'cleverbaby.app.more.about.text' | translate}}
            </div>
        </div>
    </ion-content>
</ion-view>
