<ion-view view-title="{{'cleverbaby.app.more.followus.title' | translate}}">
  <ion-content>
    <div class="wrapper-tab more-page">
        <ion-nav-bar class="bar-positive">
            <div class="header no-border">
                <ion-nav-title cb-baby-drop-down></ion-nav-title>
                <ion-nav-buttons side="right">
                    <a class="btn right" ui-sref="app.diary"><i class="fa fa-dashboard"></i></a>
                </ion-nav-buttons>
            </div>
        </ion-nav-bar>
        
        <div class="padding">
            <button class="button button-block button-positive" ng-click="s">
                {{'cleverbaby.app.more.followus.twitter' | translate}}
            </button>
            <button class="button button-block button-positive" ng-click="s">
                {{'cleverbaby.app.more.followus.facebook' | translate}}
            </button>
            <button class="button button-block button-positive" ng-click="s">
                {{'cleverbaby.app.more.followus.googlep' | translate}}
            </button>
        </div>
        
    </div>
  </ion-content>
</ion-view>