<ion-view view-title="{{'cleverbaby.app.more.measures.title' | translate}}">
    <ion-content>
        <div class="wrapper-tab more-page">
            <ion-nav-bar class="bar-positive">
                <div class="header no-border">
                    <ion-nav-title cb-baby-drop-down></ion-nav-title>
                    <ion-nav-buttons side="right">
                        <a class="btn right" ui-sref="app.diary"><i class="fa fa-dashboard"></i></a>
                    </ion-nav-buttons>
                </div>
            </ion-nav-bar>
            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label> &nbsp;
                    Weight oz/lb or g/kg
                    <span class="item-note">Off</span>
                </li>
                <li class="item item-toggle">
                    Length inch/ft or cm/m
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label> &nbsp;
                    Volume oz/lb or ml/L
                    <span class="item-note">Off</span>
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label> &nbsp;
                    Temperature c or F
                    <span class="item-note">Off</span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
