<div class="modal transparent" ng-controller="activityCtrl" ng-click="closeAddPhotoModal()">
	<div class="wrapper diapers">
        <div class="header">
            <h2 class="title">
                <span class="icon-diaper"></span>
                <span data-translate>Add Photo</span>
            </h2>
            <a ng-click="closeAddPhotoModal()" class="btn pull-left"><i class="fa fa-close"></i></a>
            <a href="" class="btn pull-right"><i class="fa fa-check"></i></a>
        </div>
        <div class="content">
            <div class="kotak">
                <label class="default">
                    <span class="icon-clock"></span> <span data-translate>some buttons here</span>
                </label>
                
            </div>
            

        </div>

    </div>
</div>
