<div class="modal transparent" ng-controller="BabyCtrl" ng-click="closeModal()">
    <div class="wrapper nurse">
        <div class="header">
            <h2 class="title">
                Oli's Record
            </h2>
            <a ng-click="closeActivity()" class="btn pull-left"><i class="fa fa-close"></i></a>
            <a href="" class="btn pull-right"><i class="fa fa-check"></i></a>
        </div>
        <div class="content">
            <div class="kotak no-border">
                //disini foto
            </div>
            <div class="kotak">
                <label class="default">
                    Oli
                </label>
            </div>
            <div class="kotak">
                <label class="default">
                    <span class="icon-clock"></span> Birthday
                </label>
                <input type="datetime-local" placeholder="Today, 06:09PM" class="form-control">
            </div>
            <div class="kotak">
                <label class="default">
                    Gender
                </label>
                <select>
                    <option>Boy</option>
                    <option>Girl</option>
                </select>
            </div>
            <div class="kotak">
                <button class="btn btn-clear">Share with others</button>
            </div>
            <div class="kotak timer-padding">
                <button class="btn btn-clear">Save</button>
            </div>
        </div>
    </div>
</div>