<div class="modal transparent" ng-controller="BabyCtrl" ng-click="closeModal()">
	<div class="wrapper add-edit-baby">
			<div class="bar bar-header">
				<button class="button button-clear" ng-click="cancel()">Cancel</button>
				<div class="h1 title" ng-if="!modal.edit">Add New</div>
				<div class="h1 title" ng-if="modal.edit">Edit Profile</div>
				<button class="button button-clear" ng-click="update()" ng-if="modal.edit">Save</button>
				<button class="button button-clear" ng-click="save()" ng-if="!modal.edit">Save</button>
			</div>
			<div class="cover-img" background="baby.displayImage">
				<div class="edit circular"><img ng-src="{{ baby.displayImage | babyImage }}"></div>
				<a class="edit-btn" choose-photo="captureImageOption"><span class="icon-note"></span> Select Photo</a>
			</div>
			<div class="content">
				<div class="kotak">
					<label class="default">
						Name
					</label>
					<form ng-submit="$root.hideKeyboard()">
						<input ng-model="baby.name" type="text" class="form-control">
					</form>
				</div>
				<div class="kotak">
					<label class="default">
						Birthdate
					</label>
					<!--<input ng-model="baby.born" type="datetime-local" value="2004-08-31" class="form-control">-->
					<div mobiscroll-datetime="" mobiscroll-model="baby.born" class-child="form-control" calendar-format="false"></div>
				</div>
				<div class="kotak">
					<label class="default">
						Gender
					</label>
					<input ng-model="baby.gender" type="text" placeholder="" class="form-control">
				</div>
				<div class="kotak">
                    <label class="default">
                        Birth Weight
                    </label>
                    <div mobiscroll-weight="" mobiscroll-mode="weight" mobiscroll-model-value="baby.weight" mobiscroll-model-unit="baby.growth_weight_unit" mobiscroll-id="activity_growth_weight" cat="1" class="form-control">
                    </div>
                </div>
                <div class="kotak">
                    <label class="default">
                        Birth Length
                    </label>
                    <div mobiscroll-customunits="" mobiscroll-mode="length" mobiscroll-model-value="baby.length" mobiscroll-model-unit="baby.growth_height_unit" mobiscroll-id="activity_growth_height" class="form-control">
                    </div>
                </div>
                <div class="kotak last-border">
                    <label class="default">
                        Birth Head Circumference
                    </label>
                    <div mobiscroll-customunits="" mobiscroll-mode="length" mobiscroll-model-value="baby.head"  mobiscroll-model-unit="baby.growth_headsize_unit" mobiscroll-id="activity_growth_headsize" class="form-control">
                    </div>
                </div>
			</div>
			<div class="to-bottom" ng-if="showFooter">
				<div class="kotak no-border" ng-if="edit">
					<button class="btn">Share Baby Data with others</button>
				</div>
				<div class="" ng-if="modal.edit">
					<button class="button button-light button-block" ng-click="delete()">Delete</button>
				</div>
			</div>
    </div>
</div>
