<div class="modal transparent-super" ng-controller="DropdownCtrl" ng-click="closeModal()">
    <div class="wrapper-dropdown">
        <div class="header">
            <h2 class="title">
                Select Baby
            </h2>
            <a ng-click="cancel()" class="btn"><i class="fa fa-close"></i></a>
        </div>
        <div class="kotak autoheight">
            <div class="item" ng-repeat="baby in storage.babies">
                <div class="thumb-baby circular" ng-click="select(baby)"><img src="{{ baby.displayImage || 'img/baby.png'}}"></div>
                <h2>{{ baby.name }}</h2>
                <a class="edit" ng-click="newBaby(baby)"><span class="icon-note"></span> Edit</a>
            </div>
            <div class="item">
                <a class="btn-add circular" ng-click="newBaby()"><i class="fa fa-plus"></i> </a>
                <h2>Add Another Baby</h2>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
