<div class="modal transparent" ng-controller="activityCtrl" ng-click="closeActivity()">
    <div class="wrapper bath">
        <div class="header">
            <h2 class="title">
                <span class="icon-bath"></span>
                <span data-translate>cleverbaby.app.activity.bath.title</span>
            </h2>
            <a ng-click="closeActivity()" class="btn pull-left"><i class="fa fa-close"></i></a>
            <a href="" class="btn pull-right"><i class="fa fa-check"></i></a>
        </div>
        <div class="content">
            <div class="kotak">
                <label class="default">
                    <span class="icon-clock"></span> <span data-translate>cleverbaby.app.activity.bath.time</span>
                </label>
                <input ng-model="bath.time" type="datetime-local" value="2004-08-31" class="form-control">
            </div>
            <div class="kotak">
                <label class="default">
                    <span data-translate>cleverbaby.app.activity.bath.temp</span>
                </label>
                <span class="satuan">c</span>
                <input ng-model="bath.temp" type="text" placeholder="40" class="form-control">
            </div>
            <div class="kotak">
                <label class="default">
                    <span data-translate>cleverbaby.app.activity.bath.notes</span>
                </label>
                <input ng-model="bath.notes" type="text" placeholder="{{ 'cleverbaby.app.activity.bath.notes.placeholder' | translate }}" class="form-control">
            </div>
        </div>
        <div class="footer">
            <a class="pull-left"><span class="icon-book-open"></span><span data-translate>cleverbaby.app.activity.add_note</span></a>
            <a class="btn-mid bath-foot" ng-click="addActivity('bath')"><span class="icon-check"></span> &nbsp;<span data-translate>cleverbaby.app.activity.save_close</span></a>
            <a class="pull-right"><span class="icon-camera"></span><span data-translate>cleverbaby.app.activity.photo</span></a>
        </div>
    </div>
</div>
