<div class="modal transparent" ng-controller="activityCtrl" ng-click="closeModal()">
    <div class="wrapper doctor">
        <div class="header">
            <h2 class="title">
                <span class="icon-doctor"></span>
                Dr. Visit
            </h2>
            <a ng-click="closeActivity()" class="btn pull-left"><i class="fa fa-close"></i></a>
            <a href="" class="btn pull-right"><i class="fa fa-check"></i></a>
        </div>
        <div class="content">
            <div class="kotak">
                <label class="default">
                    <span class="icon-clock"></span> Time
                </label>
                <input type="datetime-local" value="2004-08-31" class="form-control">
            </div>
            <div class="kotak">
                <label class="default">
                    Type
                </label>
                <input type="text" placeholder="Checkup" class="form-control">
            </div>
        </div>
        <div class="footer">
            <a class="pull-left"><span class="icon-book-open"></span>Add Note</a>
            <a class="btn-mid doctor-foot"><span class="icon-check"></span> &nbsp;Save and Close</a>
            <a class="pull-right"><span class="icon-camera"></span>Add Photo</a>
        </div>
    </div>
</div>