<div class="modal transparent" ng-controller="activityCtrl" ng-click="closeActivity()">
    <div class="wrapper nurse" ng-click="$event.stopPropagation()">
        <form ng-submit="hideKeyboard()">
        <div class="header">
            <h2 class="title">
                <span class="icon-breast-feeding"></span>
                <span data-translate>cleverbaby.app.activity.nap.mode.title</span>
            </h2>
            <a ng-click="closeActivity()" class="btn pull-left"><i class="fa fa-close"></i></a>
            <a href="" class="btn pull-right"><i class="fa fa-check"></i></a>
        </div>
        <div class="content">
            <div class="kotak no-border padding-top">
                <div class="rumah-radio">
                    <ion-radio ng-click="switchtimer(false,true)"
                               name="content"
                               class="xs-2 border-right tab-style"
                               data-translate>
                        cleverbaby.app.activity.nap.mode.timer
                    </ion-radio>
                    <ion-radio ng-click="switchtimer(true,false)"
                               name="content"
                               class="xs-2 border-right tab-style"
                               data-translate>
                        cleverbaby.app.activity.nap.mode.manual
                    </ion-radio>
                </div>
            </div>
            <div class="kotak">
                <label class="default">
                    <span class="icon-clock"></span> <span data-translate>cleverbaby.app.activity.nap.time_start</span>
                </label>
                <div mobiscroll-datetime="" mobiscroll-model="modal.data.time" class-child="form-control"></div>
            </div>
            <div class="kotak" ng-show="manual">
                <label class="default item item-input item-select" data-translate>
                    cleverbaby.app.activity.nap.time_slept
                </label>
                <select ng-model="modal.data.time_slept">
                    <option>cleverbaby.app.activity.nap.time_slept.select.default</option>
                    <option value="300">cleverbaby.app.activity.nap.time_slept.select.5min</option>
                    <option value="600">cleverbaby.app.activity.nap.time_slept.select.10min</option>
                    <option value="900">cleverbaby.app.activity.nap.time_slept.select.30min</option>
                    <option value="1800">cleverbaby.app.activity.nap.time_slept.select.1hour</option>
                    <option value="3600">cleverbaby.app.activity.nap.time_slept.select.2hour</option>
                    <option value="5400">cleverbaby.app.activity.nap.time_slept.select.3hour</option>
                    <option value="7200">cleverbaby.app.activity.nap.time_slept.select.4hour</option>
                    <option value="9000">cleverbaby.app.activity.nap.time_slept.select.5hour</option>
                    <option value="10800">cleverbaby.app.activity.nap.time_slept.select.6hour</option>
                </select>
            </div>
            <div class="kotak" ng-show="manual">
                <label class="default">
                    <span class="icon-clock"></span> <span translate>cleverbaby.app.activity.nap.time_end</span>
                </label>
                <!--<input ng-model="modal.data.time_end" type="datetime-local" class="form-control">-->
                <div mobiscroll-datetime="" mobiscroll-model="modal.data.time_end" class-child="form-control"></div>
            </div>
            <div class="kotak timer-padding" ng-show="timer">
                <div class="rumah-radio">
                    <ion-radio ng-click="$root.timers.setTimer()" name="timer" class="xs-2 border-right tab-style">Start Left</ion-radio>
                    <ion-radio ng-click="$root.timers.setTimer()" name="timer" class="xs-2 border-right tab-style">Start Right</ion-radio>
                </div>
            </div>
        </div>
        <!-- addpic/addnote -->
        <div class="kotak no-border autoheight" ng-if="modal.data.comment">
            <a class="delete" ng-click="deleteNote()"><i class="fa fa-trash"></i></a>
            <div ng-click="addNote(modal.data.comment)">
                <label class="small" data-translate>cleverbaby.app.activity.comment.click</label>
                <p>{{ modal.data.comment }}</p>
            </div>
        </div>

        
        <div class="kotak no-border autoheight" ng-repeat="media in modal.data.media | filter:{ type: '!del'}">
            <a class="delete" ng-click="deletePhoto(media)"><i class="fa fa-trash"></i></a>
            <div class="thumb">
                <img ng-src="{{ media.displayImage | babyImage }}">
            </div>
        </div>
        <div class="footer">
            <a class="pull-left" ng-click="addNote()"><span class="icon-book-open"></span><span data-translate>cleverbaby.app.activity.add_note</span></a>
            <a class="btn-mid nurse-foot" ng-click="saveActivity('sleep')"><span class="icon-check"></span> &nbsp;<span data-translate>cleverbaby.app.activity.save_close</span></a>
            <a class="pull-right"><span class="icon-camera"></span><span data-translate>cleverbaby.app.activity.photo</span></a>
        </div>
            <input type="submit" value="submit" class="hidden-submit">
        </form>
    </div>
</div>
