<div class="modal transparent" ng-controller="activityCtrl" ng-click="closeActivity()">
    <div class="wrapper pumping" ng-click="$event.stopPropagation()">
        <div class="header">
            <h2 class="title">
                <span class="icon-breast-pumper-filled"></span>
                <span data-translate>cleverbaby.app.activity.pump.title</span>
            </h2>
            <a ng-click="closeActivity()" class="btn pull-left"><i class="fa fa-close"></i></a>
            <a href="" class="btn pull-right"><i class="fa fa-check"></i></a>
        </div>
        <div class="content">
            <div class="kotak">
                <label class="default">
                    <span class="icon-clock"></span> <span data-translate>cleverbaby.app.activity.pump.time</span>
                </label>
                <input type="datetime-local" ng-model="pump.time" class="form-control">
            </div>
            <div class="kotak">
                <label class="default">
                    <span data-translate>cleverbaby.app.activity.pump.side</span>
                </label>
                <input type="text" ng-model="pump.side" placeholder="{{ 'cleverbaby.app.activity.pump.side.placeholder' | translate }}" class="form-control">
            </div>
            <div class="kotak">
                <label class="default">
                    <span data-translate>cleverbaby.app.activity.pump.amount</span>
                </label>
                <span class="satuan">ml</span>
                <input type="number" ng-model="pump.amount" placeholder="120" class="form-control">
            </div>
            <div class="kotak">
                <label class="default">
                    <span data-translate>cleverbaby.app.activity.pump.start_side</span>
                </label>
                <input type="text" ng-model="pump.start_side" placeholder="{{ 'cleverbaby.app.activity.pump.start_side.placeholder' | translate }}" class="form-control">
            </div>
        </div>
        <div class="footer">
            <a class="pull-left"><span class="icon-book-open"></span><span data-translate>cleverbaby.app.activity.add_note</span></a>
            <a class="btn-mid pumping-foot" ng-click="addActivity('pump')"><span class="icon-check"></span> &nbsp;<span data-translate>cleverbaby.app.activity.save_close</span></a>
            <a class="pull-right"><span class="icon-camera"></span><span data-translate>cleverbaby.app.activity.photo</span></a>
        </div>
    </div>
</div>
