/* Empty. Add your own CSS if you like */
.bgcolor{
  background-color: #20BAEF !important;
}
.bigicon:before {
        font-size: 10vmin;
        margin-left: 0px;

}

.fixheight > .scroll {
  height:100% !important
}
/*transparent header bar*/
.bar.bar-positive {
    border-color: rgba(12, 99, 238, 0);
    background-color: rgba(56, 126, 245, 0);
    /* background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%); */
    color: #fff; }
/*end transparent header bar*/
/*SLIDER*/
.box {
    padding-top: 50px;
}
.positive{
  background-color: #0099cc !important;
  height: auto;
}
.balanced{
  background-color: blue !important;
  height: auto;
}
/*END SLIDER*/


.icon-size{
	width: 70%;
	text-align: center;

}
.center{
	text-align: center;
	color: #fff;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.dayli-checklist{
	background-color: #006699;
}
h4, h5{
	color: #fff;
  font-size: 100%;
  text-align: center;
}
.container-center { display: -webkit-flex;  display: flex;  height: 100%;  }
.center-block {    -webkit-align-self: center;    align-self: center;    width: 100%; margin:0 auto; text-align:center }
.cf:before,.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.progress-wrapper{
  display: -webkit-flex;  
  display: flex;  
  height: 100%;
  position: relative;
  margin:20px auto;
  font-size: 40px;
}

.progress{
    -webkit-align-self: center;    
    align-self: center;    
    width: 100%; 
    margin:0 auto; 
    position: absolute;
    width: 100%;
    height: 100%;
    font-size:10px;
    line-height: 10px;
    text-align: center;
    color: #fff;
    padding-top: 15px;
    padding-right: 16px;
}
.slider-pager{
  display: none!important ;
}

.circular {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 5px solid #fff;
  max-width: 90px;
  max-height: 90px;
  }
  .justify{
    text-align: justify;
  }

/*timeline*/
  .nursed{
    color: #339966 !important;
  }
p.time{
    font-size: 12px;
  }
  .item.timeline{
    border: none!important;

  }
  .default-logo{
    background-image: url('../img/played.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .default-logo:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-left: 1px solid #9999cc;
}
  .nursed-logo{
    background-image: url('../img/nursed.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .nursed-logo:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-left: 1px solid #9999cc;
}
  .played-logo{
    background-image: url('../img/played.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .napped-logo{
    background-image: url('../img/napped.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .changed-logo{
    background-image: url('../img/changed.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
/*end timeline*/
/* .squaredTwo */
.squaredTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}
/* end .squaredTwo */
/*DIARY*/
.plus-button{
  background-image: url('../img/plusbutton.png');
  background-repeat: no-repeat;
  width: 90px;
  height:90px;
  margin: -48px 0 auto;

}
/*DIARY END*/
/*LOGIN PAGE START*/
.loginbg{
  background-color: #20BAEF;
  color: #fff;
}
.loginbg .item{
  background-color: #20BAEF;
  border: none !important;
}
.item.loginform{
  background-color: #20BAEF;
  border: none;
}
.item.loginform.item-input{
  border-bottom: 1px solid #fff;
}
.input-label{
  color: #fff!important;
}
.logo{
  width: 90px;
}
.loginlogo{
  padding: 50px;
  text-align: center;
}

.title{
  color: #fff;
}
.button.button-positive{
  border-color: #003366;
  background-color: #003366;
  border-radius: 50px;
}
.button.button-square{
  border-color: #003366;
  background-color: #003366;
  color: #fff;
  font-weight: bold;
}
.signup{
  text-align: center;
  padding-top: 70px;
}
.tabs{
  background-color: #20BAEF;
}
/*LOGIN PAGE END*/
/*ADD NEW TASK*/
.bar-energized{
  background-color: #00ccff !important;
}
.addnew_nurse{
  height: auto;
  text-align: center;
  background-color: #339966;
  color: #fff;
}
.addnew_nurse_icon{
  text-align: left;
}
.toggle.toggle-positive input:checked + .track {
    border-color: #66cc66;
    background-color: #66cc66; 
}
.addnew_feed{
  height: auto;
  text-align: center;
  background-color: #4CAF50;
  color: #fff;
}
.addnew_diaper{
  height: auto;
  text-align: center;
  background-color: #ff9900;
  color: #fff;
}
.addnew_nap{
  height: auto;
  text-align: center;
  background-color: #03A9F4;
  color: #fff;
}
.button{
  color:#ffffff; 
  width:100%;
  line-height: 35px !important;
}
.range .icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -moz-flex: 0;
  -ms-flex: 0;
  flex: 0;
  display: block;
  min-width: 30px;
  text-align: center;
  font-size: 12px; }
.item-checkbox{
  padding-left: 0 !important;
}
.checkbox input:after, .checkbox-icon:after {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 33%;
  left: 25%;
  display: table;
  width: 14px;
  height: 6px;
  border: 3px solid #339966;
  border-top: 0;
  border-right: 0;
  content: ' ';
  opacity: 0; 
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #FFFFFF;
    border-color: #FFFFFF; 
}
.item-radio .item-content{
  padding: 8px;
  position: relative;
  z-index: 2;
  border: none;
  background-color: rgba(255, 255, 255, 0); 
  border: 1px solid white;

}
.item-radio input:checked ~ .item-content {
    /* style the item content when its checked */
    background: rgba(247, 247, 247, 1); 
    border: 1px solid white;
    color: #ff9900;
}
.item-radio input:checked ~ .radio-icon{
  visibility: none !important;
  color: rgba(0, 0, 0, 0);
}
/*END ADD NEW TASK*/
