/* Empty. Add your own CSS if you like */
@import url(http://fonts.googleapis.com/css?family=Roboto);
* {box-sizing: border-box;   white-space: normal !important;  }
::-webkit-scrollbar {   display: block; }
::-webkit-input-placeholder {   color: #fff !important; opacity: .6 !important }
:-moz-placeholder {   color: #fff !important; opacity: .6 !important  }
::-moz-placeholder {    color: #fff !important; opacity: .6 !important  }
:-ms-input-placeholder { color: #fff !important; opacity: .6 !important }

html, body { font-family: 'Roboto', sans-serif !important;  }
.bgcolor{
  background-color: #20BAEF !important;
}
.bigicon:before {
        font-size: 10vmin;
        margin-left: 0px;

}

.fixheight > .scroll {
  height:100% !important
}
/*transparent header bar*/
.bar.bar-positive {
    border:0;
    background-color: rgba(56, 126, 245, 0);
    /* background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%); */
    color: #fff; }
/*end transparent header bar*/
/*SLIDER*/
.box {
    padding-top: 50px;
}
.positive{
  background-color: #02b5ef !important;
  height: auto;
}
.balanced{
  background-color: blue !important;
  height: auto;
}
/*END SLIDER*/


.icon-size{
  width: 70%;
  text-align: center;

}
.center{
  text-align: center !important;
  color: #fff;
}
.left{
  text-align: left;
  -webkit-align-self: center;    align-self: center;    width: 100%; margin:0 auto;
}

.right{
  text-align: right;
}
.dayli-checklist{
  background-color: rgba(0, 0, 0, 0.24);
}
h4, h5{
  color: #fff;
  font-size: 100%;
  text-align: center;
}
.container-center { display: -webkit-flex;  display: flex;  height: 100%;  }
.center-block {    -webkit-align-self: center;    align-self: center;    width: 100%; margin:0 auto; text-align:center }
.cf:before,.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.progress-wrapper{
  display: -webkit-flex;
  display: flex;
  height: 100%;
  position: relative;
  margin:20px auto;
  font-size: 40px;
}

.progress{
    -webkit-align-self: center;
    align-self: center;
    width: 100%;
    margin:0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size:10px;
    line-height: 10px;
    text-align: center;
    color: #fff;
    padding-top: 15px;
    padding-right: 16px;
}
.slider-pager{
  display: none!important ;
}


  .justify{
    text-align: justify;
    padding:0 10px;
  }

/*timeline*/
  .nursed{
    color: #339966 !important;
  }
p.time{
    font-size: 12px;
  }
  .item.timeline{
    border: none!important;

  }
  .default-logo{
    background-image: url('../img/played.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .default-logo:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-left: 1px solid #9999cc;
}
  .nursed-logo{
    background-image: url('../img/nursed.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .nursed-logo:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-left: 1px solid #9999cc;
}
  .played-logo{
    background-image: url('../img/played.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .played-logo:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-left: 1px solid #9999cc;
}
  .napped-logo{
    background-image: url('../img/napped.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .napped-logo:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-left: 1px solid #9999cc;
}
  .changed-logo{
    background-image: url('../img/changed.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .changed-logo:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-left: 1px solid #9999cc;
}
/*end timeline*/
/* .squaredTwo */
.squaredTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
/* end .squaredTwo */
/*DIARY*/
.plus-button{
  background-image: url('../img/plusbutton.png');
  background-repeat: no-repeat;
  width: 90px;
  height:90px;
  margin: -48px 0 auto;

}
/*DIARY END*/
/*LOGIN PAGE START*/
.loginbg{
  background-color: #20BAEF;
  color: #fff;
}
.loginbg .item{
  background-color: #20BAEF;
  border: none !important;
}
.item.loginform{
  background-color: #20BAEF;
  border: none;
}
.item.loginform.item-input{
  border-bottom: 1px solid #fff;
}
.input-label{
  color: #fff!important;
}
.logo{
  width: 90px;
}
.loginlogo{
  padding: 50px;
  text-align: center;
}

.title{
  color: rgba(255,255,255,.6);
}
.button.button-positive{
  border-color: #003366;
  background-color: #003366;
  border-radius: 50px;
}
.tabs{
  background-color: #20BAEF;
}
/*LOGIN PAGE END*/
/*ADD NEW TASK*/
.padding-top{
  padding-top: 44px;
}
.bar-energized{
  background-color: #00ccff !important;
}
.button{
  color:#ffffff;
  width:100%;
  line-height: 35px !important;
}
.range .icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -moz-flex: 0;
  -ms-flex: 0;
  flex: 0;
  display: block;
  min-width: 30px;
  text-align: center;
  font-size: 12px; }
.item-checkbox{
  padding-left: 40px !important;
}
.checkbox input:after, .checkbox-icon:after {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 33%;
  left: 25%;
  display: table;
  width: 14px;
  height: 6px;
  border: 3px solid #339966;
  border-top: 0;
  border-right: 0;
  content: ' ';
  opacity: 0;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #FFFFFF;
    border-color: #FFFFFF;
}

/*END ADD NEW TASK*/
/*START TIMER BOTTOM*/

.fixed-outside{
  position: absolute;
  bottom: 44px;
  color:#000;
  width: 100%;
  height: 100px;
  text-align:center;
  background: #EAEAEA;
}

.has-bottom .scroll{
  padding-bottom:120px !important;
}

.button-circle {
  width: 50% !important;
  height: 50% !important;
  border-radius: 50% !important;
}

/*END TIMER BOTTOM*/
/*BOTTOM BAR*/
.btn-add { width: 44px; height: 44px; font-size:50px; overflow: hidden; display: inline-block;}
.btn-add span.icon-plus {  margin: -6px 0 0 -6px; float: left; text-shadow:0 0 1px rgba(0,0,0,1);}
.bottom{
  text-align: center;
  padding : 0!important;
}
.plusbutton{
  background:#006699 !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50% !important;
}
.bar.bar-assertive {
    border-color: #00ccff;
    background-color: #00ccff;
    background-image: linear-gradient(0deg, #00ccff, #00ccff 50%, transparent 50%);
    color: #fff; }
.bar.bar-assertive .title {
      color: #fff; }
.bar.bar-assertive.bar-footer {
      background-image: linear-gradient(180deg, #00ccff, #00ccff 50%, transparent 50%); }
.bar-assertive .button {
      border-color: rgba(0,0,0,0);
      background-color: rgba(0,0,0,0);
      color: #fff;
}
.bar-assertive .button.active, .bar-assertive .button.activated {
   border-color: rgba(0,0,0,0);
      background-color: rgba(0,0,0,0);
      color: #fff;
}
.bar-footer {
  bottom: 0;
  border-top-width: 1px;
  border-bottom-width: 0;
  background-position: top;
  height: 44px;
  padding: 0 !important;
}
.zeropadding{
  padding:0 !important;
}
/*END BOTTOM BAR*/
.transparent {
  background: transparent !important;
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.transparent-super {
  background: rgba(0,0,0,0) !important;
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.menu-bot{
  position: absolute;
  bottom: 45px;
  background: none;
  padding:10px;
  margin: 10px;
  text-align: center;
}
.btn-general{
  border-radius: 50px;
  padding: 0 !important;
  border:0;
  margin: 10px 10px 5px 10px;
  width: 45px;
  height: 45px;
  font-size: 20px !important;
}

.no-bg{
  background: none;
}
.date-input{
    color: #fff !important;
    font-size: 100% !important;

}
input{
  background: none;
}
.bordered{
  border-top: dotted 1px;
  border-bottom: dotted 1px;
  margin-top: 10px !important;
}
.titles{
  color: #fff;
  text-align: left;
  font-size: 10px;
}
.newDiapers{
  background-color: #ff6b01 !important;
  border-bottom: 1px dotted;
  border-color: #fff !important;
}
.diapers-content{
  padding:0;
}
.diapers-color{
  border:solid 2px #fff;
  border-radius: 100px;
  height: auto;
  max-width: 45px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.diapers-color-p{
  font-size: 10px !important;
  color: #fff !important;
  text-align: center;
}


.btn-small{
  font-weight: bold;
  font-size: 12px;
  color: #fff !important;
}
.btn-border{
  font-weight: bold;
  width: 100%;
  border: 1px solid #fff;
  font-size: 12px;
  color: #fff !important;
  background: none;
  margin:0;
}
.btn-border.active{
  background-color: #fff !important;
  color: #33ccff !important;
}
.line-height{
  line-height: 34px;
}
.number{
  font-size: 12px;
  color: #fff !important;
  text-align: right;
  font-weight: bolder;
}
/*helper*/
.pull-left { float: left; }
.pull-right { float: right; }
.text-left { text-align: left !important;}
.text-right { text-align: right !important;}
.text-center { text-align: center !important;}
.text-justify { text-align: justify !important;}
.btn { padding: 10px; display: block; color: #fff; font-size:22px; }
.header a.btn.left { position: absolute;top: 15px; left: 0;}
.header a.btn.right { position: absolute;top: 15px; right: 0;}
.clearfix { clear: both;}
[class*="xs-"]  { float: left; padding: 0; margin:0;}
.xs-5 { width: 20%; }
.xs-4 { width: 24.73%; }
.xs-3 { width: 33.33%; }
.xs-2 { width: 50%; }
.xs-1 { width: 100%; }
.user-add { position: relative;}
.user-add:after { content: "+"; position:absolute; top: 5px; right: 1px; font-size: 12px;
  text-shadow:0 0 1px #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 0 1px #fff, 0 -2px 0 #fff; z-index: +100;}

/* color activity */
.btn-nursed { background: #3300cc;}
.btn-bottle { background: #00cc33;}
.btn-diaper { background: #ff6600;}
.btn-nap { background: #0099cc;}
.btn-solid{background: #ffcc00;}
.btn-pumping{background: #ff9933;}
.btn-todo {background: #66cc00;}
.btn-activity{background: #00cc33;}
.btn-mood{background: #cc00cc;}
.btn-play{background: #ff0000;}
.btn-bath{background: #ff0066;}
.btn-medications{background: #0099cc;}
.btn-temp{background: #3300ff;}
.btn-diary{background: #330099;}
.btn-milestone{background: #ffcc00;}
.btn-sickness{background: #339999;}
.btn-drvisit{background: #0099cc;}
.btn-vaccinations{background: #cccc33;}
.btn-growth{background: #6633cc;}
.btn-more{background: #323232;}

.diapers { background: #ff6b01; }
.bottle { background: #66cc33; }
.nurse { background: #3300cc; }
.activity { background: #336699; }
.alergy { background: #cc0033; }
.bath { background: #33ccff; }
.diary { background: #00cc99; }
.doctor { background: #cc33ff; }
.growth { background: #99cc00; }
.medication { background: #6633cc; }
.milestone { background: #003366; }
.mood { background: #ff9933; }
.play { background: #9933ff; }
.pumping { background: #00cc33; }
.sickness { background: #3366ff; }
.temp { background: #ff0000; }
.todo { background: #66cc00;}
.vaccination { background: #cc3366; }
.sleep { background: #0099cc; }
.solid{background: #ffcc00;}
.dropdown{background: #fff;}
.allergy { background: #5c6bc0; }
.drvisit{background: #0099cc;}
.diapers .item-radio input:checked ~ .item-content { color: #ff6b01}
.bottle .item-radio input:checked ~ .item-content { color: #66cc33}
.nurse .item-radio input:checked ~ .item-content { color: #3300cc}
.wrapper { font-family: 'Roboto', sans-serif !important;
  padding:0 10px 0; width: 100%; display: block; position: absolute; bottom:0; left: 0;color: #fff !important;
}
.wrapper .kotak { height: 44px;  border-bottom:1px solid rgba(255,255,255,.4); overflow: hidden !important; position: relative;}
.wrapper .kotak.autoheight{
    height: auto !important;
}
.kotak.di-block-center { display: -webkit-flex;  display: flex; }
.kotak.di-block-center > div{  -webkit-align-self: center;    align-self: center;    width: ; margin:0 auto; text-align:center }
.wrapper .kotak:last-child, .wrapper .no-border { border: none !important;}
.padding-top{
  padding-top: 10px;
}
.timer-padding{
  margin-top: 132px;
}
/* FORM */
.wrapper label.default{
  opacity: 0.6;
  font-size: 18px; display: inline-block; text-align: left; font-family: 'Roboto', sans-serif !important; margin-top: 14px; position: absolute; left:0;}
  .wrapper label.small { width: 100% !important; height:8px; margin-top: 3px; font-size: 8px; float: left; display: block; padding: 0 !important;}
.wrapper input { font-family: 'Roboto', sans-serif !important; display: inline-block; text-align: right !important; padding: 0 !important; margin: 0 !important; height:auto; font-size: 24px; width: auto !important; color: #fff; line-height: 2em; float: right;}
.rumah-radio { width: 100%; float: left; border-radius: 4px; padding: 0; border: 1px solid rgba(255,255,255,.3) ;margin-top: 3px; overflow: hidden;}

.item-radio { margin:1px 0;}
.item-radio.color-selection { text-align: center; margin-bottom: 12px; position: relative;}
.item-radio.color-selection span { position: absolute; top: 22px; font-size: 8px; width: 100%; text-align: center; left: 0;  color: rgba(255,255,255,.4); }
.item-radio.color-selection .item-content { border-radius:100px; margin: 0 auto !important; width: 65%; display: inline-block; border:2px solid #fff; }

/*color jemaker*/
.item-radio.color-selection.yellow .item-content {  background-color: #ffff00;}
.item-radio.color-selection.lime .item-content {background-color: #66cc33;}
.item-radio.color-selection.evergreen .item-content {background-color: #009933;}
.item-radio.color-selection.red .item-content { background-color: #cc3333;}
.item-radio.color-selection.brown .item-content {background-color: #993300;}
.item-radio.color-selection.black .item-content {background-color: #000;}
.item-radio.color-selection.gray .item-content {background-color: #999999;}
.item-radio.color-selection.other .item-content {background-color: #00cc99;}
.item-radio.color-selection.pink .item-content {background-color: #ff6666;}
.item-radio.color-selection.pick-color .item-content {background-color: #cc3366;}


.item-radio:first-child .item-content { margin: 0 0 0 2px}
.item-radio .item-content {
  padding: 2px; margin: 0 0 0 4px;
  position: relative; height:22px;
  z-index: 2;
  text-align: center;
  background:0;
}
.item-radio.border-right .item-content:after { position: absolute; content: ""; height: 200%; border-right: 1px solid rgba(255,255,255,.3) ; top: -2px; right: -4px;}
.item-radio.border-right:last-child .item-content:after { border: 0; display: none}
.item-radio.tab-style input:checked ~ .item-content {
    /* style the item content when its checked */
    background: #fff;
    border-radius: 4px;
}
.item-radio.color-selection input:checked ~ .item-content span {
    /* style the item content when its checked */
     color: rgba(255,255,255,1);
}
.item-radio input:checked ~ .radio-icon{
  visibility: none !important;
  color: rgba(0, 0, 0, 0);
}
.header { position: relative; text-align: center; width: 100%; border-bottom:2px dotted #fff; padding:10px 0; }
.header h2 { font-size: 28px; display: inline-block; font-family: 'Roboto', sans-serif !important; padding: 0; margin:5px 0 0;}

span.satuan { float:right;font-size: 24px; margin-top: 14px}

.footer { margin-top: 22px; text-align: center; font-size: 10px}
.footer a[class*="pull-"]{ width: 27.33%; margin-top: 5px}
.footer a[class*="pull-"] span[class*="icon-"] { font-size: 14px; width: 100%; float: left; }
.footer a.btn-mid { padding: 10px 14px; background: #fff;  display: inline-block; border-radius:4px 4px 0 0;}
.diaper-foot{color: #ff6b01;}
.doctor-foot { color: #cc33ff; }
.bottle-foot{color: #66cc33;}
.nurse-foot{color: #3300cc;}
.activity-foot{color: #336699;}
.alergy-foot{color: #cc0033;}
.bath-foot{color: #33ccff;}
.diary-foot{color: #00cc99;}
.growth-foot { color: #99cc00; }
.medication-foot { color: #6633cc; }
.milestone-foot { color: #003366; }
.mood-foot { color: #ff9933; }
.play-foot { color: #9933ff; }
.pumping-foot { color: #00cc33; }
.sickness-foot { color: #3366ff; }
.solid-foot { color: #ffcc00; }
.sleep-foot { color: #0099cc; }
.temp-foot { color: #ff0000; }
.todo-foot { color: #66cc00; }
.vaccination-foot { color: #cc3366; }


.bar .title { top: 4px;}
.bar .title .nav-bar-title:after { margin-left: 10px; font-family: "FontAwesome"; content: "\f107";  }
span.fa.timeline { position: relative; border-left:1px solid; padding: 2px 0 0 4px; font-size: 18px;  }
span.fa.timeline:after { font-family: "FontAwesome"; content: "\f03a"; ; position: absolute; left: -2px; }
.home-icon { color: #fff; font-size: 40px; width: 10%; display: inline-block; }
.graph-circle-home {display: inline-block; }
.thumbnail-baby {  display: inline-block; }
  .progress { margin:7px 0 0 7px; width: 100%; font-size: 11px; line-height: 1.1em; }
  .progress span { color: rgba(255,255,255,.5); width: 100%; display: block; font-size: 0.8em; }
.circular {
  width: 95px;
  height: 95px;
  margin: 0 auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 3px solid #fff;
  overflow: hidden;
  }
  .circular img { width: 105%; margin: -2px 0 0 -2px }
.botol { -webkit-transform: rotate(35deg) !important;}

.baby-summary { width: 100%; color: #fff; padding: 0 0 10px;}
.baby-summary span { width: 100%; display: inline-block;}

/*TIMELINE */
.pd{padding: 8px 10px 0; font-size: 17px; margin-top: 0px;}
.kartu{background: #fafafa; margin: 5px;}
.kartu h2 { color: #5a5a5a;}
.no-padding{padding:0 !important;}
.no-padding-top{padding-top: 0!important; padding-bottom: 0 !important;}
.black-color{color: #336666;}
.timeline { width: 100%; position: relative; }
.timeline h3.pd { color: #0a3656; font-size: 20px;}
.timeline .item { width: 100%; position: relative; padding:0 10px; margin:0; padding-bottom: 10px; display: inline-block;}
.timeline .item .datetime-tl { width: 18%; color: #000; float: left; word-wrap: break-word; text-align: center;  }
.timeline .item .activity-icon { width: 12%; color: #000; height: 100%; position: relative; float: left;}
                .item-activity { width: 35px; height:35px; border-radius: 100px; display: block; color: #fff; display: -webkit-flex;  display: flex; }
                .item-activity span { -webkit-align-self: center;    align-self: center;    width: 100%; margin:0 auto; text-align:center; font-size: 16px;}
                .activity-icon:after { position: absolute; content: ""; border: 1px solid #9dafbb; height: 120%; left: 17px; z-index: -1;}
.timeline .item .desc { width: 70%; color: #0a3656; float: left;  }
.timeline .item .desc h3 {margin: 0; padding: 2px 0 0 ; width: 100%;  }
.timeline .item .desc p { float: left; width: 100%; color: #0a3656 }
.timeline .item .desc p span {font-size: 17px;}
.timeline .item .desc p span.space { margin-right: 10px}
.timeline .item .desc p i { font-style: italic;}

/* ADD MORE */
.bot{margin-bottom: 66px;}
.modal-backdrop.active{background: rgba(0,0,0,.8);}
.modal-backdrop .menu-bot button { -webkit-transition: all 0.6s ease-out-in;-moz-transition: all 0.6s ease-out-in;-o-transition: all 0.6s ease-out-in;transition:all 0.6s ease-out-in; transition-duration: 0.3s; transition-delay:0s; margin-top: 0; }
.modal-backdrop.active .menu-bot button:nth-child(2), .modal-backdrop.active .menu-bot button:nth-child(4) { margin-top: -45px }
.modal-backdrop.active .menu-bot button:nth-child(3) { margin-top: -70px }


.more-section { text-align: center;}
.more-section div { margin-bottom: 10px;}
.more-section div span { width: 100%; text-align: center; font-size: 12px; float: left}
.btn-more-items { display: inline-block; }

/*dayli-checklist*/
.dayli-checklist { font-weight: normal; padding-bottom: 10px}
.dayli-checklist h5 { margin: 0 0 5px 0 ; font-weight: normal !important; }
.dayli-checklist h3 { color: rgba(255,255,255,.5); font-size: 16px; margin: 0;padding:7px 10px 10px; text-align: center;}
.dayli-checklist input[type="checkbox"] { display: none;}
.dayli-checklist label.checkbox {position: relative; width: 20px; height: 22px; overflow: hidden; display: inline-block; margin: -10px 0 0 0;  }
.dayli-checklist label.checkbox:before { content: "\f096"; font-family: 'FontAwesome'; position: absolute; top: 0; left: 0; color: rgba(255,255,255,.5); font-size: 20px;}
.dayli-checklist input[type="checkbox"]:checked ~ label.checkbox:before { content: "\f14a"; color: #64dd17;}


/*HEADING BAR*/
.btn-head-dropdown { display: inline-block; margin: 0 5px;}

/*dropdown*/
.wrapper-dropdown {
  width: 80%; margin: 10px auto; padding: 10px; background: #fff; color: #000; border-radius:4px;
}
.wrapper-dropdown .header { padding: 0 0 10px; border-color:#000;}
.wrapper-dropdown .header .btn { position: absolute;top: -4px;}
.wrapper-dropdown h2 { font-size: 22px;}
.wrapper-dropdown h2, .wrapper-dropdown a { color: #000;}
.wrapper-dropdown .item { padding: 0; margin: 8px 0 5px; float: left; width: 100%;}
.wrapper-dropdown .item h2 { float: left; font-size: 18px; margin: 14px 0 0 10px}
.wrapper-dropdown .item a.edit { float: right; margin: 14px 0 0 0}
.wrapper-dropdown .item a.btn-add { float: left; background: #eee; width: 50px; height: 50px; font-size: 22px; text-align: center; line-height: 2.2em }
      .thumb-baby { float: left; width: 50px;height: 50px; border:0;}

/*add edit baby*/
.add-edit-baby { height: 100%; background: #fff; color: #000; margin: 0; padding: 0;}
.add-edit-baby .header { height: 59px; background: #02b5ef; text-align: center; padding: 20px 0 0 0;}
.add-edit-baby .header a.btn { position: absolute; top: 15px; }
.add-edit-baby .header h2 { color:#fff; font-size: 22px; display: inline-block;}
.add-edit-baby .cover-img { height: 176px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;}
.add-edit-baby .cover-img .edit.circular { position: absolute; bottom:20px; right: 20px; z-index: +4; width: 75px; height: 75px; }
.add-edit-baby .cover-img .edit-btn { position: absolute; bottom:37px; right: 85px; padding: 8px 18px 8px 15px; border-radius: 4px 0 0 4px; background: #fff; color: #000; z-index: +3; font-size: 12px; }
.add-edit-baby .kotak { margin: 0 10px; border-bottom:1px solid rgba(0,0,0,0.3); color: #000 }
.add-edit-baby input { color: #000;  width: 100%;}
input.form-control-text {  text-align: left !important; float: left !important;}
.add-edit-baby .kotak .btn { margin: 10px 0 0 0; border-radius: 4px; border:1px solid #000; color: #000; background: none; font-size: 16px; padding: 4px 10px; width: 100%;}
.to-bottom { position: absolute; bottom: 0; width: 100%; padding-bottom: 20px;}

/*ionic override css */
.modal-backdrop {
    -webkit-transition: background-color 150ms ease-in-out !important;
    transition: background-color 150ms ease-in-out !important;
}

.slide-in-up.ng-enter, .slide-in-up > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms !important;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms !important;
}

.slide-in-up.ng-leave, .slide-in-up > .ng-leave {
    -webkit-transition: all ease-in-out 200ms !important;
    transition: all ease-in-out 200ms !important;
}

/*Header*/
.wrapper-tab { height: 100%; background: #fff; color: #000 !important; margin: 0; padding: 0;}
.wrapper-tab .header { height: 59px; background: #02b5ef; text-align: center; padding: 20px 0 0 0; border: 0}
.wrapper-tab .header h2 { color:#fff; font-size: 22px; display: inline-block;}

/*tab-view-style override*/
.tabs-stable > .tabs { border:0; padding:0 !important;}
.tab-item .icon { font-size: 28px !important; padding-top: 12px; color: #fff; line-height: 1em;}
.tab-item .icon:not(.ion-plus-round) { font-size: 18px !important}
.tab-item span.tab-title { font-size: 9px; color: #fff; margin-top: 2px}
.tab-item .ion-plus-round { position: relative; width: 50px; height: 50px; visibility: hidden;}
.tab-item .ion-plus-round:before { width: 100%; position: absolute; z-index: +2 !important; left: 0}
.tab-item .ion-plus-round:after { content: ""; position: absolute; width: 60px; height: 60px; border-radius: 50px; background: rgba(0,0,0,.4); top: -6px; left:-5.33px; z-index: +1 !important }

/*timeline*/
ul.items-activity { text-align: center; padding: 20px 0}
ul.items-activity li { display: inline-block; text-align: center; margin: 0 3px;}
ul.items-activity li .icon { width: 30px; height: 30px; border-radius: 50px; display: inline-block; }
ul.items-activity li:last-child { margin: 0 !important}
ul.items-activity li span[class*="icon-"] { margin: 8px auto 10px; display: inline-block; font-size: 16px; color: #fff;}
ul.items-activity li span.text { color: rgba(0,0,0,.6); font-size: 9px; }
.timeline-wrapper { width: 100%; }
.kotak.timeline-item { height: 88px;  max-width: 100%; margin: 10px 0 18px; position: relative;}
.kotak.timeline-item:after { content: "\f061"; font-family: 'FontAwesome'; position: absolute; top: 44px; right: 0; color: rgba(0,0,0,.6) }
.kotak.timeline-item h3 { font-size: 18px; padding: 0 5px;margin: 0; color: rgba(0,0,0,.6);}
.data { position: relative; height: 88px; margin-top: 16px; width: auto;}
ul.timeline-grid, ul.timeline-data { width:148.8%; }
ul.timeline-grid li { position: relative; width: 13.55%; font-size: 14px; color: rgba(0,0,0,.6); float: left; padding-left: 12px; margin-left: -6px;}
ul.timeline-grid li:after { height: 44px; content: ""; position: absolute;top: 17px;right: 0; border-right: 1px dotted #000 }
ul.timeline-grid li:before { width: 100%; height: 44px; content: " "; position: absolute;top: 17px;right: 0;border-bottom: 1px solid rgba(0,0,0,.6); border-top: 1px solid rgba(0,0,0,.6); }

ul.timeline-data li.data-activity{ float: left; border-radius: 2px; height: 35px; margin: 2px 0}

/*floating plus button*/
.floating-plus-button {
position: absolute;
bottom: 0px;
z-index:9999;
left: 50%;
margin-left: -30px;
height: 49px;
}
.floating-plus-button .tab-item .ion-plus-round  {
visibility:visible; width: 70px; height: 70px;
}
.floating-plus-button .tab-item .ion-plus-round:before { left: -3.66px}
.ion-plus-round:before { -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition:all 0.2s ease-in-out; transition-duration: 0.1s; transition-delay: 0s; }
.animatePlus .ion-plus-round:before {
 -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);

}
.floating-plus-button .ion-plus-round:after { content: ""; position: absolute; width: 62px; height: 62px; border-radius: 50px; background: linear-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .4) ), rgba(66,165,245,1); top: -6px; left:0px; }


/*more page*/
.more-page ul.list li:not(.item-divider) { border-bottom: 1px solid #eaeaea}
.more-page ul.list li a { color: #000; text-decoration: none; font-size: 18px; font-weight: lighter !important;}
.more-page ul.list li span { margin: 0px 15px 0 0; float: left;}
.more-page ul.list li span[class*="icon-"] { font-size: 14.6px; margin-top: 1.6px}
.more-page ul.list li.item-divider span { margin: 0 20px 0 0}
.more-page ul.list li:not(.item-divider):after { content: "\f105"; font-family: 'FontAwesome'; position: absolute; right: 10px; top: 12px; color: #b2b2b2; font-size: 16px;}

/*SIGN IN SIGN UP*/
.item.item-input { padding: 8px 0; }
.item.with-input { border-bottom: 1px solid #fff !important; margin-bottom: 20px; }
.item.with-input input { color: #fff;}
.item.with-input.password { position: relative; }
.item.with-input.password .lost-password { content: " ? "; border-radius: 50px; padding: 3px 8px 1px; font-size: 14px; border: 1px solid #fff; position: absolute; right: 5px; margin-top: 5px; z-index: +100}
.loginbg { padding: 0 20px; }
.loginbg .item.space { margin-top: 10px;}
.loginbg .item.last-item { padding-bottom: 80px;}
.loginbg .item-divider {color: #fff !important;}
.loginbg .button { width: auto !important; padding: 0 50px; text-align: center; display: inline-block; margin: 5px auto }
.loginbg .button.social-media { width: 80% !important;  position: relative;}
.loginbg .button.social-media.social-google{ background: #dd4c39 !important;border-color: #dd4c39 !important;}
.loginbg .button.social-media.social-facebook{ background: #3c5c97 !important;border-color: #3c5c97 !important;}
.loginbg .button.social-media:before { position: absolute; font-family: 'FontAwesome'; left: 20px;}
.loginbg .button.social-google:before { content: "\f0d5"; }
.loginbg .button.social-facebook:before { content: "\f09a"; }
.button.button-square{
  border-color: #003366;
  background-color: #003366;
  color: #fff; width: 100% !important; padding: 5px !important; margin-bottom: 60px;
}

/*OVERIDE CALENDAR CSS*/

/********************************************/
.rotate-to-cross{    -ms-transform: rotate(-20deg); /* IE 9 */    -webkit-transform: rotate(-20deg); /* Safari */    transform: rotate(-20deg);}
.hide-plus-btn{    display: none;}

